FORMAT: 1A
HOST: http://bazalt-cms.com/api/v1

# Bazalt CMS
Описание API медотов для Bazalt CMS (http://bazalt-cms.com/)

# Repository
AngularJS Client: https://github.com/esvit/bazalt

## User Session [/auth/session]
Если пользователь залогинен
### Get current user session [GET]
+ Response 200 (application/json)

        {
            "id":"1",
            "login":"admin",
            "firstname":"Administrator",
            "secondname":"Administratorov",
            "patronymic":"Administratorovich",
            "avatar":"",
            "email":"esvit666@gmail.com",
            "gender":"male",
            "birth_date":"17.02.1988",
            "is_active":true,
            "is_deleted":false,
            "last_activity":"2013-11-04 05:00:53",
            "created_at":"2013-04-23 11:13:01",
            "site_id":"6",
            "user_id":"1",
            "fullname":"Administratorov Administrator",
            "permissions":["admin.access"]
        }

### Create a Note [POST]
+ Request (application/json)

        { "title": "Buy cheese and bread for breakfast." }

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

## Note [/notes/{id}]
A single Note object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }

### Remove a Note [DELETE]
+ Response 204
