<div class="content-container" locale-bundle="components/bcUsers/backend">

    <div class="page-header">
        <h1>Користувачі</h1>
    </div>

    <table ng-table="tableParams" class="table table-hover" bz-loading-container="loading">
        <tr ng-repeat="user in users" style="position: relative">
            <td data-title="'User' | translate">

                <div ng-hide="user.is_deleted">
                    <div><strong><a href="#!/users/{{ user.id }}">{{user.login}}</a></strong></div>
                    <strong ng-if="user.gender == 'male'">Чоловік</strong>
                    <strong ng-if="user.gender == 'female'">Жінка</strong>
                    <i>{{user.fullname}}</i>
                </div>
                <div ng-show="user.is_deleted">
                    <div><strong>{{user.login}}</strong></div>
                    Користувача було видалено.
                </div>
            </td>
            <td data-title="'Contacts' | translate" width="200">
                <div ng-hide="user.is_deleted">
                    <p>
                        <span class="icon-envelope"></span> {{ user.email }} <br>
                        {{user.phone}}
                    </p>
                </div>
            </td>
            <td width="150" data-title="'Активность'" class="text-center">
                <div ng-hide="user.is_deleted">
                    <input bz-switch="toggleActive(user)" type="checkbox" ng-model="user.is_active"/>
                </div>
            </td>
            <td width="120" data-title="'Actions' | translate" class="text-center">
                <div ng-if="!user.is_deleted && user.id != $user.data.id">
                    <a href="" ng-click="deleteUser(user)" ng-disabled="user.$deleting"
                       class="btn btn-danger btn-sm">
                        <span ng-hide="user.$deleting">{{'Delete'|translate}}</span>
                        <span ng-show="user.$deleting">{{'Deleting...'|translate}}</span>
                    </a>
                </div>
                <a class="btn btn-link btn-small" ng-disabled="user.$deleting" ng-if="user.is_deleted" href=""
                   ng-click="restoreUser(user)">
                    <span ng-hide="user.$deleting">Скасувати</span>
                    <span ng-show="user.$deleting">Відновлення...</span>
                </a>
            </td>
        </tr>
    </table>

</div>