/* Sidebar */
.sidebar {
  width: 200px;
  min-height: 68px;
  background-color: @navbar-default-bg;
  float: left;
  bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  top: @topBarHeight;
  overflow-x: hidden;
  overflow-y: auto;

  .nav > li.dropdown-list > .dropdown-menu {
    position: relative;
    border: none;
    float: none;
    margin: 0;
    padding: 0;
    padding-right: 0px;
    list-style: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.15);
    display: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .nav > li > a {
    color: #333333;
    font-weight: lighter;
    text-shadow: 0 1px 0 #ffffff;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: none;
  }
  .nav > li.open > a,
  .nav > li.open:hover > a,
  .nav > li.active > a,
  .nav > li.active:hover > a,
  .nav > li > .dropdown-menu li:hover a {
    background: rgba(0, 0, 0, 0.15);
  }
  .nav > .dropdown > .dropdown-toggle:before,
  .nav > .dropdown-list > .dropdown-toggle:before,
  .nav > .dropup > .dropdown-toggle:before {
    position: absolute;
    margin-left: -10px;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: '\f105';
    font-size: 14px;
  }
  .nav > .dropdown-list.open > .dropdown-toggle:before {
    margin-left: -13px;
    content: '\f107';
  }

  .bazalt-cms {
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 0;
    padding: 5px;
    strong {
      background-image: url('../img/logo.png');
      background-position: left center;
      background-repeat: no-repeat;
      display: inline-block;
      padding-left: 18px;
    }
    span {
      display: block;
      color: #999;
    }
    &.top-bazalt-cms {
      position: relative;
      float: right;
      text-align: right;
      padding: 0;
      margin: 20px 15px 0 0;
      z-index: 2;
    }
  }

  .nav-tabs.nav-stacked > li > a,
  .m-sidebar-collapsed .nav.nav-pills > li > a {
    font-size: 11px;
  }
  .nav {
    border: 0 none;
    margin-bottom: 0;
    position: relative;
    li {
      position: relative;
      /*width: 100%;*/
    }
    & > li {
      display: block;
      margin: 0 auto;
      position: relative;
      &.active {
        &:before, &:after {
          border-bottom: 10px solid #F1F1F1;
          border-right: 10px solid #b2b2b2;
          border-top: 10px solid #F1F1F1;
          content: " ";
          height: 0;
          position: absolute;
          right: 0;
          top: 9px;
          width: 0;
        }
        &:after {
          border-bottom: 10px solid transparent;
          border-right: 10px solid white;
          border-top: 10px solid transparent;
          height: 0;
          position: absolute;
          right: -1px;
          top: 9px;
          width: 0;
        }
      }
      &.active .arrow {
        display: block !important;
      }

      & > a {
        position: relative;
        border: 0 none;
        outline: none;
        border-radius: none;
        -webkit-border-radius: none;
        -moz-border-radius: none;
        display: block;
        color: #555;

        .ico {
          display: block;
          opacity: 0.5;
          -moz-opacity: 0.5;
          filter: ~"alpha(opacity = 5)";
          i {
            font-size: 32px !important;
            line-height: 30px !important;
          }
        }
      }
      & > a:hover,
      &.active > a {
        background: none;
        color: #555 !important;

        .ico {
          opacity: 1;
          -moz-opacity: 1;
          filter: ~"alpha(opacity = 1)";
          color: #555;
        }
      }

      &:first-child > a, &:last-child > a {
        border-radius: 0 !important;
        -webkit-border-radius: none !important;
        -moz-border-radius: none !important;
      }
      &.btn-more {
        position: relative;
      }
    }
  }

  .m-sidebar-collapsed {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 100%;
    margin-left: -10px;

    ul {
      background-color: white;
      border: 1px solid #E5E5E5;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;

      & > li {
        float: left;
        & > a {
          background-color: white !important;
          text-align: center;
          color: #555;
          position: relative;

          .ico {
            opacity: 0.5;
            margin-bottom: 4px;
          }
        }

        & > a:hover,
        &.active > a {
          color: #08c !important;

          .ico {
            opacity: 1;
          }
        }
      }
    }

    &:before, &:after {
      content: " ";
      border-color: transparent #FFF transparent transparent
    ;
      border-style: solid;
      border-width: 10px;
      height: 0;
      width: 0;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: -19px;
    }

    &:before {
      border-right-color: #969696;
    }
  }
}

@media (max-width: 767px) {
  .sidebar {
    border-bottom: 1px solid #B2B2B2;
    border-right: none;
    overflow: visible;
    .nav {
      min-height: 70px;
      & > li {
        &.active {
          &:before, &:after {
            width: 0;
            height: 0;
            content: " ";
            border-left: 10px solid #F1F1F1;
            border-right: 10px solid #F1F1F1;
            border-bottom: 10px solid #b2b2b2;
            position: absolute;
            bottom: 0px;
            left: 38%;
            top: 50px;
          }
          &:after {
            width: 0;
            height: 0;
            content: " ";
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #ffffff;
            position: absolute;
            top: 51px;
          }
        }
      }
    }
  }
}