<div class="content-container">

    <div class="categories-list edit">
        <div class="page-header">
            <h1>
                {{'Categories'}}
                <button ng-click="addCategory(category)" class="btn btn-success btn-sm">
                    <span class="icon-plus"></span>
                    {{'Add new category'}}
                </button>
                <a class="btn btn-primary pull-right close-edit visible-phone" ng-show="edit_categories"
                   href="" ng-click="toggleEdit()">{{'Close editing'}}</a>
            </h1>
            <div class="clearfix"></div>
        </div>

        <div class="col-span-9" bz-loading-container="loading">
            <div class="live edit-main-menu edit-category">
                <ol class="nav nav-nested editable" tree-view-sortable="category"
                    tree-view-move="move($item, $before, $index)">
                    <li tree-view="child in category.children at ol" ng-class="{expanded:child.$expanded}">
                        <div>
                            <a href="" ng-click="child.$expanded = !child.$expanded"
                               ng-switch="child.$expanded">
                                <span ng-show="child.children.length" ng-switch-when="true">&#x25BC;</span>
                                <span ng-show="child.children.length" ng-switch-default>&#x25B6;</span>
                            </a>

                            <div class="item-content" ng-class="{'expanded':child.$settings}">

                                <div class="btn with-btn" ng-class="{'btn-primary':child.is_published, 'btn-default':!child.is_published}">
                                    <div class="pull-right">
                                        <!-- Publish button -->
                                        <a ng-click="child.is_published = !child.is_published; saveCategory(child)">
                                            <span class="icon-eye-open"></span>
                                        </a>

                                        <!-- Add child menu item -->
                                        <a ng-click="addCategory(child)"><span class="icon-plus"></span></a>

                                        <!-- Delete menu item -->
                                        <a href="" bz-confirm="remove(child)" data-title="'Deleting...'" message="'Are you sure want to delete this menu item?'">
                                            <span class="icon-trash"></span>
                                        </a>

                                        <!-- Settings -->
                                        <a ng-class="{'active': child.$settings}"
                                           ng-click="child.$settings = !child.$settings; child.focus = child.$settings">
                                            <span class="icon-cog"></span>
                                        </a>
                                    </div>
                                    <span class="title-item-menu">
                                        {{child.title|language}}
                                    </span>
                                </div>
                                <div class="details" ng-show="child.$settings" bz-loading-container="child.$loading">
                                    <div>
                                        <label>{{'Category title'}}</label>
                                        <input class="form-control" type="text" focus-me="child.focus"
                                               ng-model="child.title.en"/>
                                    </div>

                                    <div>
                                        <label>{{'URL'}}</label>
                                        <input class="form-control" type="text"
                                               ng-model="child.url"/>
                                    </div>
                                    <div class="help-block">
                                        <a href="" ng-hide="child.config.css != null"
                                           ng-click="child.config.css = '';" class="label label-default">{{'Add CSS class'}}</a>
                                    </div>

                                    <div class="bz-form-row" ng-show="child.config.css != null">
                                        <label>{{'CSS Class'}}</label>
                                        <input class="form-control" type="text"
                                               placeholder="{{'Enter valid css class'}}"
                                               ng-model="child.config.css"/>
                                    </div>

                                    <div class="bz-form-row">
                                        <label>{{'Category description'}}</label>
                                        <textarea style="height: 200px" class="form-control" id="body"
                                                  ng-model="child.description.en" placeholder=""></textarea>
                                    </div>

                                    <div class="clearfix"></div>
                                    <legend></legend>

                                    <div class="text-center">
                                        <button class="btn btn-primary" ng-click="saveCategory(child)">{{'Save'}}
                                        </button>
                                        <button class="btn btn-link">{{'Cancel'}}</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <ol></ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>

</div>