<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <base href="/examples/" />

    <script>
    bazalt = {
        api: 'http://hellv.in/api/rest.php',
        languages: ['uk', 'en']
    }
    </script>
    <script src="../bower_components/requirejs/require.js" data-main="js/main"></script>
</head>
<body>

    {{ $user }}

    <a href="#!/">Home</a>
    <a href="#!/uk/post-1" bz-lang-ignore target="_self">Ru</a>
    <a href="#!/en/post-1" bz-lang-ignore target="_self">En</a>

    <a href="" ng-click="$language.id('uk')" target="_self">Ru</a>
    <a href="" ng-click="$language.id('en')" target="_self">En</a>

    {{ 10000|currency }}

    <div app-view-segment="0">

    </div>

    <form data-ng-controller="test" ng-submit="login(user)">
        <input type="text" ng-model="user.email"/>
        <input type="text" ng-model="user.password"/>
        <input type="submit" value="OK" />

    </form>

<a href="" data-ng-click="$user.$logout()">Log out</a>

</body>
</html>