<div class="content-container">

    <div class="page-header">
        <div class="row">
            <div class="col col-lg-3">
                <h1>{{ 'Sites'|translate }}</h1>
            </div>
            <div class="col col-lg-9">
                <div class="pull-right">
                    <button ng-click="filter_active = !filter_active" class="btn btn-default">
                        <span class="icon-filter"></span>
                    </button>
                </div>
                <a ng-href="#!/sites/new/" class="btn btn-success btn-sm">
                    <i class="icon-plus"></i>
                    {{ 'Add new'|translate }}
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-12" bz-loading-container="loading">

            <table ng-table="tableOptions" show-filter="filter_active"
                   class="table table-striped table-condensed table-hover">
                <tr ng-repeat="item in $data">
                    <td width="20" style="text-align: left;" header="'ng-table/headers/checkbox.html'">
                        <input type="checkbox" ng-model="item.$selected"/>
                    </td>
                    <td sortable="title" filter="{ 'title': 'text' }" data-title="'Title' | translate">
                        <a href="#!/sites/{{item.id}}">{{item.domain}}</a>
                    </td>
                    <td sortable="created_at" width="140"
                        data-title="'Date of creation'| translate" class="text-center table-date-column">
                        {{item.created_at|date:'yyyy-MM-dd'}}<br/>
                        {{item.created_at|date:'HH:mm:ss'}}
                    </td>
                    <td sortable="is_published" width="110" data-title="'Status' | translate" class="text-center">
                        <input bz-switch="toggleActive(item)" type="checkbox" ng-model="item.is_active">
                    </td>
                    <td width="95" data-title="'Actions' | translate" class="text-center">
                        <div class="btn-group">
                            <a target="_blank" ng-disabled="!item.is_published" ng-href="{{item.url}}"
                               class="btn btn-sm btn-default"><span class="icon-link"></span></a>
                            <button data-title="'Deleting...'"
                                    bz-confirm="remove(item);"
                                    message="'Are you sure want to delete this page?'"
                                    class="btn btn-sm btn-danger">
                                <span class="icon-trash"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value=""/>
    </script>
</div>