<div class="comments" bz-loading-container="loading">
    <script type="text/ng-template" id="bzComments/comments">
        <div class="comment" ng-class="'comment-depth-' + comment.depth" ng-repeat="comment in comments">
            <div class="comment-body" ng-controller="bzComments.Controller">
                <div class="panel-heading">
                    <a class="profile-avatar" href="#">
                        <img src="http://www.gravatar.com/avatar/e2e1d7d9c0c71a5869e007590809d80d?d=http://static.hypercomments.com/data/avatars/0/avatar.jpg" />
                    </a>
                    <b>{{comment.nickname}}</b>
                    <span>» {{ comment.created_at|date:'dd.MM.yyyy HH:mm:ss' }}</span>
                    <!--a class="comment-spam"><i class="icon-minus-sign"></i></a>
                    <a class="user-complain"><i class="icon-search"></i></a-->
                    <div class="pull-right b-rating" data-page-id="pageId" data-comment-id="comment.id" bz-rating="comment.rating"></div>
                </div>
                <div class="panel-body bad">{{showReply}}
                    {{comment.body}}
                    <a class="comments-reply" ng-click="settings.showReply = comment.id">Ответить</a>
                    <div ng-if="settings.showReply == comment.id" class="comments" data-page-id="pageId" data-reply-id="settings.showReply" bz-comment-form="comment.children"></div>
                </div>
            </div>
            <hr/>
            <div class="comment-children" ng-if="comment.children.length">
                <div ng-init="comments = comment.children" ng-include="'bzComments/comments'"></div>
            </div>
        </div>
    </script>
    <h4>Коментарии</h4>

    <div ng-include="'bzComments/comments'"></div>
    <div ng-if="!settings.showReply" class="comments" bz-comment-form="comments" data-page-id="pageId"></div>
    <div ng-if="settings.showReply">
        <a ng-click="settings.showReply = false" href="">Добавить комментарий</a>
    </div>
</div>