<div class="control-group">
    <label class="control-label">{{ 'Link' }}</label>
    <div class="controls">
        <input type="text" ng-model="child.settings.url" name="url" class="form-control" />
        <span class="help-block">Site Title to appear at the top in the administration panel</span>
    </div>
</div>


<div class="control-group">
    <div class="controls checkbox">
        <label class="control-label">
            <input ng-model="child.settings.target_blank" class="bz-form-checkbox-input" type="checkbox" checked="checked">
            Open link in new window
        </label>
        <span class="help-block">Turn on the "Multilanguage" section, where you can add multiple languages</span>
    </div>
</div>