<div ng-controller="bcMenu.Controllers.MainSettings" bz-loading-container="loading">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" focus-me="child.focus" placeholder="Input text"
               ng-model="child.title.en"/>

        <div class="help-block">
            <a href="" ng-hide="child.description[languages.current] != null"
               ng-click="addDescription(child, languages.current)" class="label label-default">
                Add description
            </a>
            <a href="" ng-hide="child.settings.css != null"
               ng-click="child.settings.css = '';" class="label label-default">
                Add CSS Class
            </a>
        </div>
    </div>
    <div class="form-group" ng-show="child.description[languages.current] != null">
        <label>Description</label>
        <input class="form-control" type="text" placeholder="Input text"
               ng-model="child.description[languages.current]"/>
    </div>

    <div class="form-group" ng-show="child.settings.css != null">
        <label>CSS Class</label>
        <input class="form-control" type="text" placeholder="Enter valid css class"
               ng-model="child.settings.css"/>
    </div>

    <div class="form-group">
        <label>Menu item type:</label>
        <select class="form-control" ng-change="changeMenuType(child, type)" ng-options="type.id as type.title group by type.component for type in menuTypes" ng-model="child.menuType"></select>
    </div>

    <div class="menu-settings-external clearfix" data-title="{{'Settings'}}" ng-if="currentType.templateUrl">
        <div ng-include="currentType.templateUrl"></div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" ng-click="saveItem(child)">Save</button>
    </div>
</div>