<div class="content-container">
    <link rel="stylesheet" type="text/css" href="/bazalt/src/components/bcMenu/backend/assets/css/admin.css"/>

    <div class="page-header row">
        <div class="col col-lg-3">
            <h1>Menus</h1>
        </div>
        <div class="col col-lg-9">
            <div class="btn-toolbar" ng-if="$routeSegment.$routeParams.id">
                <button class="btn-primary btn btn-small" ng-click="addChild(menu)"><i class="icon-plus"></i>
                    Add new element
                </button>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col col-lg-3" bz-loading-container="loading.menus">

            <ul class="nav nav-pills nav-stacked nav-list">
                <li ng-repeat="item in menus" class="with-btn" ng-class="{'active': $routeSegment.$routeParams.id == item.id}">
                    <a ng-if="!item.$edit" class="pull-right btn-delete" data-title="'Deleting...'" href=""
                       bz-confirm="remove(item)" message="'Are you sure want to delete this menu?'">
                        <span class="icon-trash"></span>
                    </a>
                    <a ng-if="!item.$edit" ng-click="item.$edit = true" class="pull-right btn-delete" href="">
                        <span class="icon-edit"></span>
                    </a>
                    <a ng-if="!item.$edit" ng-href="#!/menu/{{item.id}}">
                        {{item.title|language}}

                        <!--span class="label">{{item.count}}</span-->
                    </a>
                    <div ng-if="item.$edit">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="item.title.en" />
                            <div class="input-group-btn btn-group">
                                <button class="btn btn-primary" ng-click="saveItem(item)"><span class="icon-save"></span></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="add-new-item nav-new-menu">
                <form name="newMenu" novalidate ng-submit="createMenu(nMenu)">
                    <div class="input-group">
                        <input type="text" ng-model="nMenu.title.en" maxlength="255" ng-disabled="nMenu.busy" required
                               placeholder="New menu" class="form-control" />

                        <div class="input-group-btn">
                            <button ng-disabled="nMenu.busy || newMenu.$invalid" class="btn btn-default" type="submit"
                                    ng-disabled="nMenu.busy">
                                <span class="icon-plus"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="col col-lg-9" app-view-segment="1">
            <span class="icon-long-arrow-left"></span>
            Выберите пункт меню для редактирования
        </div>
    </div>
</div>