<div ng-file-drop>

    <!-- 2. ng-file-select | ng-file-select="options" -->
    <!--input class="btn-file-uploader" ng-file-select type="file" multiple /-->
    <div class="btn-upload">
        <a href="" class="btn btn-default">Загрузить изображения</a>
        <input class="btn-file-uploader" ng-file-select type="file" multiple />
    </div>


    <div class="upload-files" ng-if="uploader.queue.length">
        <!--h4>Для загрузки выбрано {{ uploader.queue.length }} файла(ов).</h4-->
        <!--ul class="list-unstyled nav-pills nav">
            <li class="col-md-2" ng-repeat="item in uploader.queue">
                <div class="one-file-upload">
                    <img ng-src="http://placehold.it/25x25"/>
                    <div ng-show="item.isUploaded" style="float: left; margin-right: 10px">{{ item.file.name }}</div>
                    <div ng-hide="item.isUploaded" class="progress progress-info">
                        <div class="bar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                    <div style="float:left">
                        <!--a ng-disabled="item.isUploaded" ng-click="$event.preventDefault(); item.upload()" ng-href="#" href="#"><i class="icon-plus icon"></i></a-->
                        <!--a ng-click="$event.preventDefault(); item.remove()" ng-href="#" href="#"><i class="icon-trash icon"></i></a>
                    </div>
                </div-->
                <!--{{ item.file.name }}
                <div class="progress progress-bar-info">
                    <div class="bar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>

                <div class="btn-group">
                    <a class="btn btn-default btn-small" ng-href="#" ng-click="$event.preventDefault(); item.upload()"
                       ng-disabled="item.isUploaded">Загрузить</a>
                    <a class="btn btn-inverse btn-small" ng-href="#" ng-click="$event.preventDefault(); item.remove()">Удалить</a>
                </div-->

            <!--/li>
        </ul-->
        <div class="progress-uploaded" ng-show="uploader.queue.length">
            <div>
                <b>Общий прогресс:</b> {{ uploader.progress }}
                <div class="progress progress-striped active">
                    <div style="float: left" class="bar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <!--div class="btn-group">
                <a class="btn btn-danger" ng-href="#" ng-click="$event.preventDefault(); uploader.uploadAll()">Загрузить все</a>
                <a class="btn btn-inverse" ng-href="#" ng-click="$event.preventDefault(); uploader.clearQueue()">Удалить все</a>
            </div><!-- ng-show="uploader.getNotUploadedItems().length"-->
        </div>
    </div>

    <div class="uploaded-files" ng-if="files.length">
        <div ng-repeat="file in files">
            <div class="one-file">
                <div class="file-img">
                    <div class="thumbnail">
                        <img ng-src="{{ file.thumbnailUrl }}"/>
                    </div>
                    <!--a class="delete-one-file" href="" ng-click="deleteFile(file)"><i class="icon-trash icon"></i></a-->
                    <a class="btn btn-small btn-danger" href="" ng-click="deleteFile(file)">Удалить</a>
                </div>
                <div class="file-description">
                    <form class="registration">
                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <input type="text" ng-model="file.title" class="form-control" placeholder="Введите название">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <textarea ng-model="file.description"  placeholder="Введите описание" class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <a class="btn btn-inverse" ng-href="" ng-click="deleteFiles()">Удалить все</a>
    </div>

</div>